/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General styles */
  body {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #1070be;
  }
  h3{
    display: flex;
    align-items: center;
  }
  .titulo {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #333;
  }
  
  .nav-button {
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .nav-enlaces {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
  }
  
  .nav-enlaces:hover {
    background-color: #fff;
    color: #333;
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 254px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }
  
  .input {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 1
  }  
  button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 5.5em;
    width: 100%;
    
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }